APP_NAME=ERP System API
APP_VERSION=0.1.0
API_V1_PREFIX=/api/v1
ENVIRONMENT=development
DEBUG=true

POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=erp_system
POSTGRES_POOL_MIN_SIZE=1
POSTGRES_POOL_MAX_SIZE=10

LLM_PROVIDER=groq
LLM_MODEL=openai/gpt-oss-20b
GROQ_API_KEY=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
GROQ_BASE_URL=https://api.groq.com/openai/v1
OPENAI_API_KEY=
OPENAI_BASE_URL=
